body{
    background: mediumslateblue;
} 
 
 .registration-form {
    width: 700px;
    height: 840px;
    flex-direction: column;
    margin: 10px auto;
    box-sizing: border-box;
    background: #eee;
    font-size: 30px;
    color: black;
    text-decoration: solid underline;
    box-shadow: 0px 0px 43px 17px rgba(37, 37, 37, 0.758);
    padding: 20px;

}

.valid-feedback {
    font-size: 20px;
}

.invalid-feedback {
    font-size: 20px;
}

.btn {
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    color: burlywood;

}